body{
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;    
}

.timer{
    font-size: 32px;
    margin-bottom: 20px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}